
<app-header></app-header>

<div class="container">

  <!-- Fix the height of this so it doesn't move everything ever time is appears -->
  <div class="my-3 flex justify-center text-teal-500">
    <p *ngIf="updatingIn" class="font-bold">Updating in {{updatingIn}}</p>
    <p *ngIf="!updatingIn">&nbsp;</p>
  </div>

  <div *ngIf="errorMessage">
    <p>Whoops. {{errorMessage}}</p>
  </div>

  <div *ngIf="currentObservation">
    <app-observation [observation]="currentObservation"></app-observation>
  </div>


</div>